<h1>編集</h1>
<%= form_for @student , url: {action: :update} do |f| %>
  <%= f.label :student_id, '学籍番号' %>
  <%= f.text_field :student_id %>
  <%= f.label :name, '名前' %>
  <%= f.text_field :name %>
  <%= f.label :mail,  'メールアドレス' %>
  <%= f.text_field :mail %>
  <%= f.submit '変更' %>
<% end %>
