<h1>学生情報</h1>
<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>

<p><%  @students.each do |st| %>
    <%=link_to st.name, "students/#{st.id}" %>
    <%=link_to '削除', "students/#{st.id}", method: :delete,data: {confirm: "本当に削除しますか？"}  %>
    <%=link_to '編集', "students/#{st.id}/edit" %>
    </p>
  <% end %>
    <p>
      <%=link_to '新規追加', 'students/new' %>
    </p>

